:root{
    --verde: #9dd23f;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

@font-face {
    font-family: "lato";
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "lato-black";
    src: url(../assets/fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: "lato-black-italic";
    src: url(../assets/fonts/Lato/Lato-BlackItalic.ttf);
}
h1,h2,h3,h4,h5,h6{
    font-family: "lato-black";
    letter-spacing: 4px;
}
h2{
    font-size: calc(19px + (40 - 19) * ((100vw - 300px) / (1600 - 300)));
}
h5{
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
}
/*---generales--*/
.divider{
    border: 3px solid var(--verde);
    background-color: var(--verde);
    width: 20%;
}
.container-fluid {
    padding-right: 7% !important;
    padding-left: 7% !important;
}
.mt-15{
    margin-top: 16.5%;
}
.py-10{
    padding-top: 10%;
    padding-bottom: 10%;
}
.txt {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
}
.section{
    position: relative;
    display: block;
}
.content1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---- NAVBAR ----*/
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/toggler-icon.svg);
}
.navbar-toggler {
    border: none !important;
}
#nav{
    background-image: url(../img/nav-bg.png);
    background-color: #151514;
    background-position-y: bottom;
    background-position-x: left;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "lato-black";
    color: white !important;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: var(--verde) !important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--verde) !important;
}

a.login{
    font-family: "lato-black";
    color: white;
}
a.language span:nth-child(1){
    font-family: "lato" !important;
    text-transform: initial;
    background-color: white;
    color: #42494f !important;
    padding-top: 2%;
    padding-bottom: 2%;

}
a.language span:nth-child(2){
    font-family: "lato" !important;
    text-transform: initial;
    background-color: var(--verde);
    color: #42494f !important;
    padding-top: 2%;
    padding-bottom: 2%;
}
.img-rps {
    width: calc(100px + (250 - 100) * ((100vw - 300px) / (1600 - 300)));
    transition: ease 1s;
}
._img-rps {
    width: calc(75px + (200 - 75) * ((100vw - 300px) / (1600 - 300)));
    transition: ease 1s;
}
/*---- CAROUSEL ----*/
.carousel h2{
    font-size: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 35%;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.text-green{
    color: var(--verde);
}

/*--- OUR PORPOSE ---*/
.our-purpose{
    background-image: url(../img/bg/bg1.png);
    background-color: #171716;
    background-repeat: no-repeat;
    background-position-y: bottom;
    color: white;
}
/*--- COIN AND NEWS ---*/
.coin_and_news{
    background-image: url(../img/bg/bg2.png);
    background-color: #0f200f;
    background-repeat: no-repeat;
    background-position-y: bottom;
    color: white;
}

/*--- NEWS ---*/

.btn-new{
    border-radius: 0 !important;
    border: 4px solid white;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.btn-new:hover{
    background-color: white;
    color: #221c18;
}
.btn-new h2{
    margin: 0;
    letter-spacing: normal;
}

.br{
    border-right: 2.5px solid var(--verde);
}
.bl{
    border-left: 2.5px solid var(--verde);
}

.btn-new-gren{
    background-color: var(--verde);
    border: 4px solid var(--verde);
    border-radius: 0 !important;
    color: #221c18;
    padding-left: 5%;
    padding-right: 5%;
}
.btn-new-gren:hover{
    background-color: transparent;
    border: 4px solid white;
    color: white;
}
.btn-new-gren h2{
    margin: 0;
    font-family: "lato-black-italic";
    letter-spacing: normal;
}


section.news .carousel-continer{
    position: relative;
}
section.news .carousel-continer .next,
section.news .carousel-continer .prev{
    position: absolute;
    top: 50%;
    z-index: 100;
    cursor: pointer;
}
section.news .carousel-continer .next{
    right: 30px;
}
section.news .carousel-continer .prev{
    left: 30px;
}
section.news .carousel-continer .next>img,
section.news .carousel-continer .prev>img{
    width: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
}

.modal-news{
    background-image: url(../img/bg/bg4.png);
    background-color: #171716;
}


/*--- CONTACT US ---*/
.contact{
    background-image: url(../img/bg/bg3.png);
    background-color: #1b1b1a;
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
}
.contact textarea,
.contact input{
    border: 0;
    border-radius: 0 !important;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
}
.contact textarea:focus,
.contact input:focus{
    border: 0;
    border-radius: 0 !important;
    background-color: transparent;
    color: white;
}

.contact textarea::placeholder,
.contact input::placeholder{
    color: white;
}

@media (max-width: 991.98px){
    nav .container-fluid {
        padding-right: 0% !important;
        padding-left: 0% !important;
    }
}

@media (min-width: 768px) {
    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 45%;
        left: 10%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .carousel-caption {
        position: absolute;
        right: 10%;
        bottom: 50%;
        left: 10%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }
}
